.header {
	background-color: #fff;
	.header__inner {
		padding: 0.95rem 0;
		@include flex(row, center, space-between, 0);
	}

	.header__left {
		@include flex(row, center, flex-start, 8.4rem);

		.header__logo {
			display: flex;
			gap: 1.2rem;

			.logo_info {
				@include flex(column, stretch, space-between, 0);
				font-family: $ff-semibold;

				span:first-child {
					font-size: $fs-medium;
					color: $color-secondary;
				}

				span:last-child {
					@extend %text__small;
					color: #26262640;

					span {
						@extend %text__small;
						font-family: $ff-light;
					}
				}
			}
		}

		.header__nav {
			@include flex(row, center, flex-start, 2.4rem);

			a {
				font-size: $fs-regular;
				line-height: $lh-regular;
				color: #09090b60;
				@include flex(row, center, flex-start, 0.8rem);
				transition: all 120ms linear;

				svg {
					transform: rotate(180deg);
				}

				&:hover {
					color: $color-secondary;
				}
			}
		}
	}

	.header__rigt {
		@include flex(row, center, flex-start, 1.14rem);

		a {
			font-size: $fs-regular;
			color: $color-secondary;
			transition: all 150ms linear;
			position: relative;

			&:hover {
				text-decoration: underline;
				text-underline-offset: 3px;
			}
		}

		.start__btn {
			@include flex(row, center, flex-start, 1rem);
			padding: 0.65rem 1.3rem;
			border: 1px solid #e4e4e7;
			background-color: transparent;
			border-radius: 5px;
			font-size: $fs-regular;
			color: $color-secondary;

			span {
				@include flex(row, center, flex-start, 0.6rem);
				background-color: $color-secondary;
				padding: 0.5rem 1.1rem;
				border-radius: 6px;
				font-size: $fs-regular;
				color: #fff;
			}
		}
	}
}
