.supheader {
	background-color: $color-secondary;

	.supheader__inner {
		width: 100%;
		max-width: 1440px;
		margin: 0 auto;
		@include flex(row, center, center, 15rem);
		padding: 1rem 0;
	}

	a {
		color: #fff;
		@extend %text__normal;
		font-family: $ff-medium;

		&:last-child {
			@include flex(row, center, flex-start, 1.5rem);
			padding-left: 2rem;
			border-left: 1px solid #9b9b9b;

			img {
				transition: all 120ms linear;
			}

			&:hover {
				img {
					transform: translateX(0.3rem);
				}
			}
		}
	}
}
