$color-primary: #171717;
$color-secondary: #09090b;
$color-light: #666;
$color-accent: #0b92ff;

$fs-small: 12px;
$fs-regular: 14px;
$fs-medium: 24px;
$fs-large: 40px;

$lh-small: 16px;
$lh-regular: 20px;
$lh-medium: 32px;
$lh-large: 48px;
