* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: $ff-light, sans-serif;
	background-color: #00000005;
}

a {
	text-decoration: none;
	color: #242425;
	display: inline-block;
}
